/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}


body {
    background: url([[pix:theme|body]]) repeat-x fixed;
    background-color: #DAE0EE;
    padding-top: 53px;		/* shorter space for header/logo bar at top */
}

#page {
    padding-left: 12px;		/* narrower margins (where page background is exposed) */
    padding-right: 12px;
}

#page-header {
    background: url([[pix:theme|short_header]]) no-repeat;
    background-color: white;
}

#page-header h1 {
    margin-left: 10px;
    margin-top: 16px;
}

#page-content {
    background-color: white;
}

#page-navbar {
    margin-top: 13px;
}

/* blue swoop background in top bar */
.navbar .navbar-inner {
    background: url([[pix:theme|header_bkgrnd]]) no-repeat;
    background-size: 100% 100%;
    background-color: #005596;
    color: white;
}

/* IMSA logo in left brand area, overlays swoop background */
.navbar .brand {
    padding: 10px 40px 10px 180px;
    background: url([[pix:theme|imsalogo]]) no-repeat 3px center;
    color: white;
    text-shadow: none;
}

.navbar-text {
    color: lightgrey;
}

.navbar-text a {
    color: #E9EEF4;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
