/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}


/* blue swoop background in top bar */
.navbar .navbar-inner {
    background: url([[pix:theme|header_bkgrnd]]) no-repeat;
    background-size: 100% 100%;
    background-color: #005596;
    color: white;
}

/* IMSA logo in left brand area, overlays swoop background */
.navbar .brand {
    padding: 10px 40px 10px 180px;
    background: url([[pix:theme|imsalogo]]) no-repeat 3px center;
    color: white;
    text-shadow: none;
}

.navbar-text {
    color: lightgrey;
}

.navbar-text a {
    color: #E9EEF4;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
